@import 'src/styles/mixins';
@import 'src/styles/variables';

.fluid-container {
    background: #FAB8C5;
    margin-top: 100px;
    overflow: hidden;
    @include breakpoint('mobile') {
        background: transparent;
        margin-top: 70px;
    }
    .downloads-container {
        position: relative;
        padding-top: 60px;
        .row {
            position: relative;
            @include breakpoint('mobile') {
                background: #FAB8C5;
                border-radius: 50px;
                height: 509px;
            }
            .content-wrapper {
                position: relative;
                @include breakpoint('mobile') {
                    padding-top: 40px;
                    padding-left: 50px;
                }
                @include breakpoint('desktop') {
                    padding-top: 92px;
                    padding-left: 115px;
                }
                .downloads-button {
                    display: none;
                    @include breakpoint('mobile') {
                        display: block;
                        padding: 0 40px;
                    }
                    @include breakpoint('desktop') {
                        padding: 0 90px;
                    }
                }
                .downloads-title {
                    font-size: 40px;
                    line-height: 47px;
                    font-weight: 700;
                    text-align: center;
                    color: $bluebtn;
                    @include breakpoint('mobile') {
                        line-height: 57px;
                        text-align: left;
                        margin-bottom: 30px;
                        max-width: 407px;
                    }
                }
            }
            .image-wrapper {
                max-width: 550px;
                margin-left: auto;
                padding: 0;
                @include breakpoint('mobile') {
                    position: absolute;
                    right: -90px;
                    bottom: 0;
                }
                @include breakpoint('tablet') {
                    right: -120px;
                    max-width: 716px;
                }
                .image-mobile {
                    width: 100%;
                    @include breakpoint('mobile') {
                        display: none;
                    }
                }
                .image {
                    width: 100%;
                    display: none;
                    @include breakpoint('mobile') {
                        display: block;
                    }
                }
            }
        }
    }
}