@import 'src/styles/mixins';
@import 'src/styles/variables';

.hero {
    padding-top: 163px;
    .content-wrapper {

    }
    .hero-wrapper {
        max-width: 1246px;
        margin: 0 auto;
        padding: 0 25px;
        .image-wrapper {
            position: relative;
            .image {
                width: 100%;
                height: 100%;
            }
        }
    }
}