@import 'src/styles/mixins';
@import 'src/styles/variables';

.hero {
    padding-top: 163px;
    @include breakpoint('tablet') {
        padding-top: 225px;
    }
    
    .hero-wrapper {
        max-width: 1246px;
        margin: 0 auto;
        padding: 0 25px;
        .hero-row {
            position: relative;
            .content-wrapper {
                .content-title {
                    text-align: center;
                }
                .content-text {
                    margin-bottom: 22px;
                    text-align: center;
                }
                .hero-button {
                    padding-left: $p-l;
                    padding-right: $p-l;
                    margin: 0 auto;
                }
                @include breakpoint('tablet') {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
                @include breakpoint('mobile') {
                    .content-title {
                        text-align: left;
                    }
                    .content-text {
                        text-align: left;
                    }
                    .hero-button {
                        margin: 0;
                    }
                }
                @include breakpoint('desktop') {
                    padding-left: 55px;
                    .content-title {
                        width: 50%;
                        margin-bottom: $m-xl;
                    }
                    .content-text {
                        width: 45%;
                        margin-bottom: 58px;
                        text-align: left;
                    }
                }
            }
            .image-wrapper {
                position: relative;
                @include breakpoint('tablet') {
                    max-width: 530px;
                    padding: 0 !important;
                    margin-left: auto;
                }
                .image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}