@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Raleway' !important;
  font-weight: normal;
  font-size: 18px;
}

.container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    @include breakpoint('desktop') {
        max-width: 1200px;
    }
  }

li {
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: inherit !important;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

// h1 {
//   font-size: 24px !important;
//   line-height: 33px !important;
//   font-weight: 700;
//   color: $greentext;
//   margin-bottom: 24px;
//   @include breakpoint('mobile') {
//     font-size: 44px !important;
//     line-height: 62px !important;
//   }
//   @include breakpoint('desktop-large') {
//     font-size: 52px !important;
//     line-height: 73px !important;
//   }
// }
// h2 {
//   font-size: 24px !important;
//   line-height: 33px !important;
//   font-weight: 700;
//   color: $greentext;
//   margin-bottom: 24px;
//   @include breakpoint('mobile') {
//     font-size: 44px !important;
//     line-height: 54px !important;
//   }
//   @include breakpoint('desktop-large') {
//     font-size: 50px !important;
//     line-height: 60px !important;
//   }
// }

// h3 {
//   font-size: 18px !important;
//   line-height: 24px;
//   @include breakpoint('mobile') {
//     font-size: 26px !important;
//     line-height: 33px !important;
//   }
//   @include breakpoint('desktop-large') {
//     font-size: 32px !important;
//     line-height: 39px !important;
//   }
// }

// p {
//   font-size: 16px !important;
//   line-height: 28px !important;
//   color: $primary;
//   margin-bottom: 32px;
//   @include breakpoint('mobile') {
//     font-size: 17px !important;
//     line-height: 39px !important;
//   }
//   @include breakpoint('desktop-large') {
//     font-size: 24px !important;
//     line-height: 46px !important;
//   }
// }