@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Raleway' !important;
  font-weight: normal;
  font-size: 18px;
}

.container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    @include breakpoint('desktop') {
        max-width: 1200px;
    }
  }

li {
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: inherit !important;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

h1 {
  font-size: 40px;
  line-height: 67px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.2px;
  @include breakpoint('tablet') {
    font-size: 60px;
    line-height: 67px;
  }
}
h2 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.2px;
  @include breakpoint('tablet') {
    font-size: 60px;
    line-height: 67px;
  }
}
h3 {
  font-size: 34px;
  line-height: 34px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.1px;
  @include breakpoint('tablet') {
    font-size: 44px;
    line-height: 44px;
  }
}
h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: $bluebtn;
}
p {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: $greytext;
  letter-spacing: 0.2px;
}
