$burger: #737373;
$link: #252B42;
$hoverlink: #5956E9;
$pinkbtn: #FAB8C3;
$bluebtn: #5956E9;

$breakpoints: (
  'small-mobile': 375px,
  'mobile': 767px,
  'tablet': 992px,
  'desktop': 1200px,
  'desktop-large': 1920px,
) !default;

$p-xs: 4px;
$p-s: 8px;
$p-m: 16px;
$p-l: 24px;
$p-xl: 32px;
$p-xxl: 44px;

$m-xs: 4px;
$m-s: 8px;
$m-m: 16px;
$m-l: 24px;
$m-xl: 32px;
$m-xxl: 44px;