@import 'src/styles/mixins';
@import 'src/styles/variables';

.products-wrapper {
    padding-top: 60px;
    position: relative;
    @include breakpoint('tablet') {
        padding-top: 90px;
        padding-bottom: 80px;
    }
    .row {
        @include breakpoint('mobile') {
            background: linear-gradient(72.77deg, #EDEEF6 11.72%, rgba(237, 238, 246, 0) 98.52%);
            border-radius: 50px;
        }
        @include breakpoint('tablet') {
            padding-left: 55px;
        }
        .content-wrapper {
            @include breakpoint('mobile') {
                padding-top: 150px;
            }
            .products-title {
                text-align: center;
                margin-bottom: 16px;
                @include breakpoint('mobile') {
                    text-align: left;
                }
            }
            .products-text {
                text-align: center;
                padding: 0 40px;
                margin-bottom: 25px;
                @include breakpoint('mobile') {
                    text-align: left;
                    padding: 0;
                }
            }
        }
        .image-wrapper {
            position: relative;
            max-width: 356px;
            padding: 0;
            margin: 0 auto;
            .image {
                width: 100%;
            }
            @include breakpoint('mobile') {
                padding: 15px 0 0 0;
                margin: 0;
                margin-left: auto;
            }
        }
    }
    .first-ornament,
    .second-ornament,
    .third-ornament,
    .fourth-ornament {
        @include breakpoint('tablet') {
            display: block;
            position: absolute;
            border-radius: 50%;
        }
    }
    .first-ornament {
        top: -25px;
        right: 40px;
        background-color: $bluebtn;
        width: 87px;
        height: 87px;
        z-index: 1000;
    }
    .second-ornament {
        top: 200px;
        right: -10px;
        background-color: $bluebtn;
        width: 31px;
        height: 31px;
        z-index: 1000;
    }
    .third-ornament {
        top: 180px;
        left: 60%;
        transform: translateX(-60%);
        background-color: $pinkbtn;
        width: 63px;
        height: 63px;
        z-index: 1000;
    }
    .fourth-ornament {
        bottom: 26px;
        left: 287px;
        background-color: $pinkbtn;
        width: 104px;
        height: 104px;
        z-index: 1000;
    }
}